{% extends "BaseIndex.html" %}

{% block main_content %}
    <div class="container">
        <h2>
            Книги
        </h2>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                {% for h in header_book %}
                    <td>
                        {{ h | safe }}
                    </td>
                {% endfor %}
                </thead>
                <tbody>
                {% for r in  book_data %}
                    <tr>
                        <td>
                            {{ r.id }}
                        </td>
                        <td>
                            {{ r.category_id }}
                        </td>
                        <td>
                            {{ r.authors }}
                        </td>
                        <td>
                            {{ r.name }}
                        </td>
                        <td>
                            {{ r.publish_date }}
                        </td>
                        <td>
                            {{ r.price }}
                        </td>
                        <td>
                            <span><a class="link-danger" href="/books/delete/{{ r.id }}">Удал.</a> | <a
                                    class="link-warning" href="/books/edit/{{ r.id }}">Ред.</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>
            Авторы
        </h2>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                {% for h in header_author %}
                    <td>
                        {{ h | safe }}
                    </td>
                {% endfor %}
                </thead>
                <tbody>
                {% for r in  author_data %}
                    <tr>
                        <td>
                            {{ r.id }}
                        </td>
                        <td>
                            {{ r.category_id }}
                        </td>
                        <td>
                            {{ r.authors }}
                        </td>
                        <td>
                            {{ r.name }}
                        </td>
                        <td>
                            {{ r.publish_date }}
                        </td>
                        <td>
                            {{ r.price }}
                        </td>
                        <td>
                            <span><a class="link-danger" href="/books/delete/{{ r.id }}">Удал.</a> | <a
                                    class="link-warning" href="/books/edit/{{ r.id }}">Ред.</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>
            Приходы
        </h2>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                {% for h in header_income %}
                    <td>
                        {{ h | safe }}
                    </td>
                {% endfor %}
                </thead>
                <tbody>
                {% for r in  income_data %}
                    <tr>
                        <td>
                            {{ r.id }}
                        </td>
                        <td>
                            {{ r.category_id }}
                        </td>
                        <td>
                            {{ r.authors }}
                        </td>
                        <td>
                            {{ r.name }}
                        </td>
                        <td>
                            {{ r.publish_date }}
                        </td>
                        <td>
                            {{ r.price }}
                        </td>
                        <td>
                            <span><a class="link-danger" href="/books/delete/{{ r.id }}">Удал.</a> | <a
                                    class="link-warning" href="/books/edit/{{ r.id }}">Ред.</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>
            Расходы
        </h2>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                {% for h in header_outcome %}
                    <td>
                        {{ h | safe }}
                    </td>
                {% endfor %}
                </thead>
                <tbody>
                {% for r in  outcome_data %}
                    <tr>
                        <td>
                            {{ r.id }}
                        </td>
                        <td>
                            {{ r.category_id }}
                        </td>
                        <td>
                            {{ r.authors }}
                        </td>
                        <td>
                            {{ r.name }}
                        </td>
                        <td>
                            {{ r.publish_date }}
                        </td>
                        <td>
                            {{ r.price }}
                        </td>
                        <td>
                            <span><a class="link-danger" href="/books/delete/{{ r.id }}">Удал.</a> | <a
                                    class="link-warning" href="/books/edit/{{ r.id }}">Ред.</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>
            Пользователи
        </h2>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                {% for h in header_user %}
                    <td>
                        {{ h | safe }}
                    </td>
                {% endfor %}
                </thead>
                <tbody>
                {% for r in  user_data %}
                    <tr>
                        <td>
                            {{ r.id }}
                        </td>
                        <td>
                            {{ r.category_id }}
                        </td>
                        <td>
                            {{ r.authors }}
                        </td>
                        <td>
                            {{ r.name }}
                        </td>
                        <td>
                            {{ r.publish_date }}
                        </td>
                        <td>
                            {{ r.price }}
                        </td>
                        <td>
                            <span><a class="link-danger" href="/books/delete/{{ r.id }}">Удал.</a> | <a
                                    class="link-warning" href="/books/edit/{{ r.id }}">Ред.</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}