{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 4 - 6</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}/>
    <!--<link rel="stylesheet" href={% static 'css/site.css' %}/>-->
</head>
<body>
<div class="container" style="margin: 0; max-width: 100%; height: 100%;">
    <!-- Заголовок с картинкой -->
    <div class="row bg-dark">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src={% static 'img/bootstrap/book-half.svg' %} alt="" width="30" height="24"
                         class="d-inline-block align-text-top">
                    Bookshelf store:)
                </a>
            </div>
        </nav>
    </div>
    <div class="row">
        <!-- меню пользователя -->
        {{ user_content }}
    </div>
    <div class="row">
        <!-- меню магазина -->
        <div class="col-2" style="background-color: #f0ede8">
            {% block menu_content %}

            {% endblock %}
        </div>
        <!-- контент магазина -->
        <div class="col-10">
            {% block main_content %}

            {% endblock %}
        </div>
    </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Kazutsin, IP-31
  </div>
</footer>
<script src={% static 'js/bootstrap.min.js' %}></script>
</body>
</html>